.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100%;
    align-items: center;
    
}

.cebecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 15%;
}

.cebecalho h1{
    margin: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
}

.lista-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
}

.logo{
    color: white;
    margin-right: 10px;
    transition: transform .5s;
}

.logo:hover{
    transform: scale(1.2);
}

.forte{
   display: flex;
   flex-direction: row;

}

.forte img{
    margin: 1%;
    width: 300px;
    height: 300px;
}
.forte p{
    margin: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 20px; 
}
.fraco{
    display: flex;
    flex-direction: row;
 
 }
 
 .fraco img{
     margin: 1%;
     width: 300px;
     height: 300px;
 }
 .fraco p{
     margin: 5px;
     color: white;
     font-family: sans-serif;
     font-size:20px; 
 }
 .video1{
    margin: 40px;
    justify-items: center;
 }
 .video1 h1{
    margin: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
}
p{
    margin-right: 5vw;
}